.page{
    max-width: 1280px;
    width: 100%;
    margin:0 auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000000;
}
.header{
    
    margin: 0 auto;
    width: 880px;
    border-bottom: 1px solid #545454;
}
.header__logo{
    padding: 45px 0 41px;
}

.profile{
    width: 880px;
    display: flex;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;

}

.profile__avatar{
max-width: 168.75px;
max-height: 127.5px;

border-radius: 50%;
}
.profile__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}


.profile__edit-name{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__edit-button { 
    border: 1px solid #fff;
    height: 24px;
    width: 24px;
    background-image: url(./image/pencil.png);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    top: 40px;
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

.profile__name{
    color: white;
    font-size: 42px;
    line-height: 1.14;
    font-weight: 500;
    margin: 0;
    padding: 25.75px 18px 16px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
   
}
.profile__description{
    color: white;
    margin: 0;
    font-size: 18px;
}
.profile__edit-button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile__add-button{
    border: 1px white solid;
    background-image:url(./image/plus.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 22px 22px;
    width: 150px;
    height: 50px;
    margin: 0;
    position: relative;
    top: 38.75px;
    left: 244px;
    cursor: pointer;
    font: inherit;
    color: inherit;
}
 .profile__add-button:hover{
    opacity: 0.8;
 }

    


.profile__vector{
    display: block;
      margin: 0 100px; 
}

  .profile__edit-button:hover {
    opacity: .6;
  }
