.header{
padding: 45px 15% 0;
width: 100%;
  box-sizing: border-box;
}

.header::after {
    content: "";
    display: block;
    border: 0;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
    padding-top: 41px;
    box-sizing: border-box;
}


