.popup__form {
  width: 100%;
  max-width: 358px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width:425px){
  .popup__form{
    max-width:238px;
    margin:25px auto;
 }
}


@media screen and (max-width:320px){
  .popup__form{
    max-width:238px;
    margin:29px 22px;
 }
}
