.profile__name{
    color: white;
    font-size: 42px;
    line-height: 1.14;
    font-weight: 500;
    margin: 0;
    padding: 26px 18px 16px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    
   
}

@media screen and (max-width:1024px){
    .profile__name{
        max-width: 320px;
  }
}

@media screen and (max-width:767px){
    .profile__name{
       font-size:27px;
       line-height: 56px;
       padding-right: 0;
  }
}