.profile__description{
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
    line-height: 21.78px;

    
}
@media screen and (max-width:1023px){
    .profile__description{
        margin: auto;
    }
}

@media screen and (max-width:425px){
    .profile__description{
        font-size: 14px;
        line-height: 16.94px;
        max-width:215px;
        padding-bottom: 36px;
        text-align: center;
        margin:0 auto;
   }
}


