.profile__edit-name{
    display: flex;
    align-items:baseline;
    gap:17px;
}
@media screen and (max-width:425px){
    .profile__edit-name{
        max-width:282px;
        gap:7px;
        margin:0 auto;
   }
}
