.element__info{
  padding: 25px 20px 26px 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  max-width: 246px;
}
                                                                               